@media (min-width: 200px) and (max-width: 767px) 
{
    .inputnamme
    {
        width: 80%;
    }

}
@media (min-width: 768px) and (max-width: 2000px) 
{
    .ulistafavorites
    {
        width:80%; 
        margin: auto;
    }
}