<br><br><br>
<div class="w3-contaner w3-animate-left" style="width: 50em; margin: auto">
    <h1 class="w3-text-red">
        <b><u>Información</u></b>
    </h1>
    <h5>
        Con esta aplicación podras elejir entre todos los heroes de 
        Marvel y guardar en una lista de Favoritos que se almacenara
        en el Navegador, tambien podra Actualizar tu nombre y sera 
        guardado el navegador, Asi recargues la pagina se almacenaran 
        los datos.
    </h5>
    <hr>
    <h2 class="w3-text-red">
        <b><u>Tecnologías</u></b>
    </h2>

    <ul class="w3-ul ">
        <li class="w3-bar"> 
            <img src="assets/angular.png" class="w3-bar-item w3-circle w3-hide-small w3-left" 
            style="width:85px">
            <div class="w3-bar-item w3-right">
                <span class="w3-large w3-text-red">
                   Angular
                </span><br><br>
                <span> Esta Aplicacion esta hecha Con Angular 8, se modularizo 
                        con MVC y se utlizo los componentes y la rutas de Angular
                        para crear una aplicacion SPA
                </span>
            </div>
        </li>
        <li class="w3-bar"> 
            <img src="assets/bootstrap.png" class="w3-bar-item w3-circle w3-hide-small w3-left" 
            style="width:85px">
            <div class="w3-bar-item w3-right">
                <span class="w3-large w3-text-red">
                   Boostrap
                </span><br><br>
                <span> 
                    Se utilizo el Framework Boostrap Para tener una 
                    desarrollo Agil y eficiente a la hora de perzonalizar
                    el diseño de la Aplicaion
                </span>
            </div>
        </li>
        <li class="w3-bar"> 
            <img src="assets/api.png" class="w3-bar-item w3-circle w3-hide-small w3-left" 
            style="width:95px">
            <img src="assets/logo.png" class="w3-bar-item w3-circle w3-hide-small w3-left" 
            style="width:95px">
            <div class="w3-bar-item w3-right">
                <span class="w3-large w3-text-red">
                   API rest
                </span><br><br>
                <span> 
                    Se utlizo el protocolo HTTP, para hacer consultas a la API de 
                    Marvel que nos brinda la posibilidad de tener Información de 
                    todos los personajes se su colección.
                </span>
            </div>
        </li>
        <li class="w3-bar"> 
            <img src="assets/web.png" class="w3-bar-item w3-hide-small w3-left" 
            style="width:205px">
            <div class="w3-bar-item w3-right">
                <span class="w3-large w3-text-red">
                   Tecnologias De Desarrollo
                </span><br><br>
                <span> 
                    Las tecnologias estandar para crear la web se utlizaron para la 
                    maquetación del sitio
                </span>
            </div>
        </li>
    </ul>
</div>